version: "3.9"

services:
  # ==============================
  # Servicio de Base de Datos (PostgreSQL)
  # ==============================
  db:
    container_name: hospital-desk-db
    image: postgres:15.1-alpine
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - ${DB_PORT}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME}"]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - db_data:/var/lib/postgres/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - hospital-net

  # ==============================
  # Servicio de Administración (pgAdmin4)
  # ==============================
  pgadmin:
    container_name: hospital-desk-pgadmin
    image: dpage/pgadmin4:7.7
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - hospital-net

  # ==============================
  # Servicio de la API (Node.js + Express)
  # ==============================
  api:
    container_name: hospital-desk-api
    build:
      context: .                # Carpeta raíz
      dockerfile: Dockerfile    # Dockerfile que crearás
    ports:
      - "3000:3000"             # Puerto de la API
    env_file:
      - .env                    # Cargar variables de entorno
    depends_on:
      db:
        condition: service_healthy
    command: ["npm", "run", "start:dev"]
    networks:
      - hospital-net

# ==============================
# Red y Volúmenes persistentes
# ==============================
networks:
  hospital-net:

volumes:
  db_data:
  pgadmin_data:
